[Unit]
Description=Main eNET server
After=network.service

[Service]
ExecStart=/opt/aioenet/aioenetd
StandardOutput=tty

[Install]
WantedBy=default.target

